<a href="https://colab.research.google.com/github/obaidur2020/Data-Science/blob/master/Welcome_to_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import seaborn as sns
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix,accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
url='https://raw.githubusercontent.com/obaidur2020/Data-Science/master/Arrhythmia1.csv'
df = pd.read_csv(url)
df.head()

   Record no  Age  Sex  Height  Weight  ...  P interval  QRS   T   P   QRST
0          1   75    0     190      80  ...         121  -16  13   64    -2
1          2   56    1     165      64  ...          39   25  37  -17    31
2          3   54    0     172      95  ...         102   96  34   70    66
3          4   55    0     175      94  ...         143   28  11   -5    20
4          5   75    0     190      80  ...         103  -16  13   61     3

[5 rows x 14 columns]